.header{
    width: 70%;
    height: 5em;
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
}

.header__logo{
    text-decoration: none;
    color: var(--clr-primary);
    font-size: var(--text-lg);
}

.header__list{
    display: flex;
    list-style:none;
    gap: var(--spacing-lg);
}