body{
    margin: 0;
    line-height: 1.5;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --spacing-sm: .8em;
    --spacing-md : 1em;
    --spacing-lg:2em;
    --spacing-xl:3em;
    --spacing-2xl:5em;

    --text-sm:.8rem;
    --text-md:1rem;
    --text-lg:1.2rem;
    --text-xl:2rem;
    --text-2xl:4rem;
    
    --clr-primary:#5531AC;
    --clr-secondary:#05A86E;
    --clr-info: #85ddfc;
    --clr-light:#fff;
    --clr-dark:#24262F;
    --clr-bg:#f8f8f8;

    --radius:10px;
    --radius-lg:30px;
}

.App{
    position: relative;
}